<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard - statusone</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <style>
    @media (max-width: 768px) {
      .flex.h-screen {
        display: block;
      }
      #sidebar {
        position: absolute;
        width: 80%; /* Adjust width of the sidebar for mobile if needed */
        height: 100%;
        z-index: 100; 
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
      }
      #main-content {
        transition: margin-left 0.3s ease-in-out;
      }
      .flex-1 {
        padding: 10px;
        margin-left: 0; /* Set margin-left to 0 when sidebar is hidden */
      }
    }
    </style>
</head>
<body class="bg-gray-100 relative">

<!-- Toggle Button for Sidebar -->
<div class="md:hidden absolute top-0 right-0 m-4"> 
    <button id="sidebarToggle" class="p-2">
        <img src="static/images/dash/toggle/action1.svg" alt="Toggle Sidebar" class="block w-6 h-6" id="toggleIcon">
    </button>
</div>

<div class="flex h-screen">

<!-- Sidebar -->
<div id="sidebar" class="flex flex-col w-64 bg-white p-5 shadow-lg md:translate-x-0 transition-transform duration-300 ease-in-out h-screen overflow-y-auto">
    <div class="flex-grow">
        <h2 class="text-xl font-bold mb-5">Dashboard</h2>
        
        <!-- User Info Section -->
        <div class="bg-gray-100 p-4 rounded-lg mb-5">
            <div class="flex items-center mb-3">
                <img src="static/images/dash/user.svg" alt="Username Icon" class="w-6 h-6 mr-2">
                <span class="font-medium">{{ username }}</span>
            </div>
        
            <div class="flex items-center">
                <img src="static/images/dash/statusname.svg" alt="Status Page Icon" class="w-6 h-6 mr-2">
                <span class="font-medium">{{ status_page_name }}</span>
            </div>
        </div>

        <!-- Sidebar Navigation -->
        <nav>
            <ul class="space-y-4 mb-5">
                <li>
                    <a href="#" id="loadIncidents" class="nav-link flex items-center space-x-2 bg-[#ff2400] p-2 rounded-lg text-white font-medium">
                        <span class="icon-placeholder"></span>
                        <img src="static/images/dash/side/fire.svg" alt="Incidents" class="w-6 h-6">
                        <span>Incidents</span>
                    </a>
                </li>
                <li><a href="#" id="loadStatusUpdates" class="nav-link flex items-center space-x-2"><img src="static/images/dash/side/statupdates.svg" alt="Status Updates" class="w-6 h-6"><span>Status Page</span></a></li>
                <li><a href="#" id="loadSystemMetrics" class="nav-link flex items-center space-x-2"><img src="static/images/dash/side/metric.svg" alt="System Metrics" class="w-6 h-6"><span>System Metrics</span></a></li>
                <li><a href="#" id="loadTeamManagement" class="nav-link flex items-center space-x-2"><img src="static/images/dash/side/people.svg" alt="Team Management" class="w-6 h-6"><span>Team Management</span></a></li>
                <li><a href="#" id="loadUserNotifications" class="nav-link flex items-center space-x-2"><img src="static/images/dash/side/note.svg" alt="Notifications" class="w-6 h-6"><span>User Notifications</span></a></li>
                <li><a href="#" id="loadAPIIntegrations" class="nav-link flex items-center space-x-2"><img src="static/images/dash/side/api.svg" alt="API Integrations" class="w-6 h-6"><span>API Integrations</span></a></li>
                <li><a href="#" id="loadlogs" class="nav-link flex items-center space-x-2"><img src="static/images/dash/side/log1.svg" alt="Logs" class="w-6 h-6"><span>Logs</span></a></li>
            </ul>
        </nav>
    </div>

    <!-- Bottom Section -->
    <div class="mt-5">
        <hr class="border-t border-gray-300 mb-4">
        <ul class="space-y-4 pb-4">
            <li>
                <a href="#" id="loadsettings" class="nav-link flex items-center space-x-2"><img src="static/images/dash/side/setting1.svg" alt="Settings" class="w-6 h-6"><span>Settings</span></a>
            </li>
            <li>
                <a href="#" id="updatesButton" class="relative flex items-center space-x-2 bg-[#ffd700] py-2 px-1 rounded-lg text-white -mx-1">
                    <img src="static/images/dash/side/updates.svg" alt="Updates" class="w-6 h-6 relative">
                    <span>Updates</span>
                    <span id="updatesIndicator" class="hidden absolute top-0 right-0 h-2 w-2 bg-red-500 rounded-full transform -translate-x-41 -translate-y-1/2"></span>
                </a>
            </li>            
            <li>
                <a href="/auth/logout" class="flex items-center space-x-2"><img src="static/images/dash/side/exitme.svg" alt="Logout" class="w-6 h-6"><span>Logout</span></a>
            </li>
        </ul>
    </div>
</div>

  

    <!-- Main Content -->
    <div class="flex-1 p-10">
      <h1 class="text-3xl font-bold mb-6">statusone panel</h1>
      <div id="incidentsContent" class="content-section" style="display: none;">{% include 'layout/sidebars/incidents.html'%}</div>
        <div id="statusUpdatesContent" class="content-section" style="display: none;">{% include 'layout/sidebars/statusupdates.html' %}</div>
        <div id="systemMetricsContent" class="content-section" style="display: none;">{% include 'layout/sidebars/systemmetrics.html' %}</div>
        <div id="teamManagementContent" class="content-section" style="display: none;">{% include 'layout/sidebars/teammanagement.html' %}</div>
        <div id="userNotificationsContent" class="content-section" style="display: none;">{% include 'layout/sidebars/usernotifications.html' %}</div>
        <div id="apiIntegrationsContent" class="content-section" style="display: none;">{% include 'layout/sidebars/apiintegrations.html' %}</div>
        <div id="logsContent" class="content-section" style="display: none;">{% include 'layout/sidebars/logs.html' %}</div>
        <div id="settingsContent" class="content-section" style="display: none;">{% include 'layout/sidebars/settings.html' %}</div>
    </div>


  </div>

  {% include 'layout/modals/repo.html' %}


  <script>
    $(document).ready(function() {
      var isSidebarOpen = false;
      $('#sidebarToggle').click(function() {
        if (isSidebarOpen) {
          $('#sidebar').css('transform', 'translateX(-100%)');
          $('#main-content').css('margin-left', '0');
        } else {
          $('#sidebar').css('transform', 'translateX(0)');
          $('#main-content').css('margin-left', '80%');
        }
        isSidebarOpen = !isSidebarOpen;
        $('#toggleIcon').attr('src', isSidebarOpen ? 'static/images/dash/toggle/action2.svg' : 'static/images/dash/toggle/action1.svg');
      });
    });
    </script>

    
<script>
    $(document).ready(function() {
        function loadContent(contentId) {
            $('.content-section').hide();
            $('#' + contentId).show();
        }

        function setActiveNavLink() {
            $('a.nav-link').removeClass('active-nav-link').find('.arrow-icon').remove();
            $(this).addClass('active-nav-link').append('<img src="static/images/dash/side/activelink.svg" class="arrow-icon" style="margin-left: 5px;"/>');
        }

        $('a.nav-link').click(function(e) {
            e.preventDefault();
            setActiveNavLink.call(this);
            var contentId = this.id.replace('load', '') + 'Content';
            loadContent(contentId);
        });


        $('#loadIncidents').click(function(e) {
            e.preventDefault();
            loadContent('incidentsContent');
        });
    
        $('#loadStatusUpdates').click(function(e) {
            e.preventDefault();
            loadContent('statusUpdatesContent');
        });

        $('#loadSystemMetrics').click(function(e) {
            e.preventDefault();
            loadContent('systemMetricsContent');
        });

        $('#loadTeamManagement').click(function(e) {
            e.preventDefault();
            loadContent('teamManagementContent');
        });

        $('#loadUserNotifications').click(function(e) {
            e.preventDefault();
            loadContent('userNotificationsContent');
        });

        $('#loadAPIIntegrations').click(function(e) {
            e.preventDefault();
            loadContent('apiIntegrationsContent');
        });

        $('#loadlogs').click(function(e) {
            e.preventDefault();
            loadContent('logsContent');
        });

        $('#loadsettings').click(function(e) {
            e.preventDefault();
            loadContent('settingsContent');
        });
    
    
        $('.content-section').hide();
        $('#incidentsContent').show(); // Show the first section 
    
    });
    </script>
    

</body>
</html>
