<div class="container mx-auto p-6">
    <div class="w-full max-w-lg">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <!-- Status Page Name -->
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="status-page-name">
                    Status Page Name
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="status-page-name" type="text" placeholder="Status Page Name">
            </div>

            <!-- Status Page Profile Picture -->
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="status-page-pfp">
                    Status Page Profile Picture
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="status-page-pfp" type="file">
            </div>

            <!-- Change Password -->
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                    Change Password
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="********">
            </div>

            <!-- Change Username -->
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Change Username
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username">
            </div>

            <!-- Submit Button -->
            <div class="flex items-center justify-between">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Save Changes
                </button>
            </div>
        </form>
    </div>
</div>
